<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Medical App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    </head>
    
    
       
    <body style="background-color:teal">
        <div class="container-fluid">
            <div class='row'>
                <div class='col-md-12'>
                    <div class='banner-text'>
                        
                    </div>
                </div>
            </div>
        </div>
    </div><br>

        <div class="container">
            <div class="row content">
                <div class="col-md-6">
                    <center><h2 >Add Medicine Details</h2></center>
        <form  method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" style="color:black;font-weight:bold;">No</label>
                <input type="text" name="id" class="form-control" required>
            </div><br>
                        <div class="form-group">
                            <label for="name" style="color:black;font-weight:bold;">Medicine Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div><br>
                        
                        <div class="form-group">
                            <label for="name" style="color:black;font-weight:bold;">COMPANY</label>
                            <input type="text" name="company" class="form-control" required>
                        </div><br>
                        <div class="form-group">
                            <label for="name" style="color:black;font-weight:bold;">EXPIRY</label>
                            <input type="date" name="expiry_date" class="form-control" required>
                        </div><br>
                        
                        <button type="submit" class="btn btn-success" >Create</button>
                    </form>
                    <a href="/list_medicin/"><button type="submit" class="btn btn-info float-right">Go to list</button></a>
                   
                </div>
            </div><br><br>
            

            
           
          
    </body>
</html>